* {
	outline: 1px solid red;
	padding: 0;
	margin: 0;
}
body {
	background-color: lightblue;
	image-size: cover;
	font-family: arial;
	margin: 0;
	padding: 0;
	height: 100vh;
	width:100%;
	background-image: url("slike/background.jpg");
	background-size: cover;
	background-position: center center;


}

.logo {
	display: flex;
	justify-content: left;
}

.naslov{
	
	margin:0px;
}



.naslov img {
  float: left;
  width: 100px;
  height: 100px;
}

/*ovo je sta gleadti veceras*/
.naslov h1 span {
  position: relative;
  top: 37px;
  left: 10px;
  font-size: 25px;
  background-color: rgba(239,224,142,255);
  color: rgba(108,9,4,255);
  margin-top: 50px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 2px 5px;

}



.nav-area {
	text-decoration: none;
	background-color: rgba(239,224,142,255);
  	color: rgba(108,9,4,255);
  	margin: 80px 0px 0px 0px;
  	padding: 0;
}



p {
	margin-top: 15px;
	color: lightblue;
	background-color: darkblue;
}