* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 300;
    background-color: #e8f0f7;
    height: 100vh;
    padding-top: 90px;
    
}

.header {
    background-color: rgb(19, 22, 26);
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 5px 5px 5px #a1a7b0;
}
.naslov img {
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 2px;
    margin-top: 5px;
}



.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    min-height: 90px;
}


.logo {
    color: #ffffff;
    letter-spacing: -1px;
    font-size: 30px;
    font-weight: 600;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 40px;
}




.nav__link{
color: rgba(255, 255, 255, 0.75);
font-size: 18px;
}
.nav__link:hover
.nav__link:focus {
    color: rgba(255, 255, 255, 1);
    transition: all 0.4s;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
.nav--open {
    transform: translate(0) !important;
}
.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);

}
.hamburger--open .bar:nth-child(2){
    opacity: 0;

}
.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);

}




.izgled-stranice {
    margin: 50px 100px;
    text-align: center;
    background-color: #F4F3EA;
  /*  background-color: rgba(0, 0, 0, 0.8); */
    border-radius: 20px;
    padding-bottom: 20px;
    /* max-height: 500px; */
    box-shadow: 5px 10px 5px #a1a7b0;
  
  }
  
  .izgled-stranice img {
    float: left;
    margin: 5px;
    margin-left: 20px;
    width: 180px;
  
  }
  
  .izgled-stranice p {
    text-align: justify;
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .naslov h1{
    font-size: 30px;
  /*  color: white;*/
    color: #000000;
  
  }
  
  /* kategorije  */
  .linkovinadnu a {
    text-align: justify;
    font-size: 18px;
    color: rgb(139, 33, 33);
    text-decoration: none;
    padding: 5px 10px;
    text-decoration: none;
    float: right;
  }
.mojaocena{
  font-size: 18px;
  font-weight: 500;
  float: left;
  margin: 3px 0px 3px 10px;
}
  .yt-video iframe{
    max-width: 600px;
    max-height: 300px;
  }

/*ovo je za dodavanje btn dugmeta*/
.gotopbtn{
    position: fixed;
    width: 30px;
    height: 30px;
    background: rgba(239,224,142,255);
    bottom: 20px;
    right: 9px;
  
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: rgba(108,9,4,255);
    font-size: 22px;
  }


  footer {
	background-color: rgb(19, 22, 26);
}
.footerContainer {
	width: 100%;
	padding: 70px 30px 20px;
}

.socialIcons {
	display: flex;
	justify-content: center;
}

.socialIcons a {
	text-decoration: none;
	padding: 10px;
	background-color: #fff;
	margin: 10px;
	border-radius: 50%;
}
.socialIcons a i {
	font-size: 50px;
	color: #000000;
	opacity: 0.9;
}

/* hover  */
.socialIcons a:hover{
	background-color: #111;
	transition: 0.3s;
}

.socialIcons a:hover i {
	color: #fff;
	transition: 0.3s;
}

.footerNav {
	margin: 30px 0;
}
.footerNav ul {
	display: flex;
	justify-content: center;
	list-style: none;
}
.footerNav ul li a {
	color: #fff;
	margin: 20px;
	text-decoration: none;
	font-size: 20px;
	opacity: 0.7;
	transition: 0.3s;
}
.footerNav ul li a:hover {
	opacity: 1;
}

.footerBottom {
	background-color: #000000;
	padding: 20px;
	text-align: center;
    font-size: 12px;
}
.footerBottom p {
	color: #fff;
}

.designer {
	
	letter-spacing: 1px;
	font-weight: 600;
}


/* 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 */



@media (max-width:800px){
    .nav{
        position: fixed;
        top: 90px;
        left: 0;
        background-color: rgb(46, 52, 59);
        width: 100%;
        padding: 10px 0 25px;
        transform: translate(-100%);
    }
.nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.nav__link {
    font-size: 20px;
}

.hamburger {
    display: block;
}


.logo {
    color: #ffffff;
    letter-spacing: -1px;
    font-size: 30px;
    font-weight: 600;
}

.izgled-stranice {
    margin: 50px 50px;
    text-align: center;
    background-color: #F4F3EA;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 5px #a1a7b0;
  
  }
  
  .izgled-stranice img {
    float: left;
    margin: 5px;
    margin-left: 20px;
    width: 170px;
  
  }
  
  .izgled-stranice p {
    text-align: justify;
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .naslov h1{
    font-size: 30px;
  /*  color: white;*/
    color: #000000;
  
  }
  .yt-video iframe{
    max-width: 320px;
    max-height: 200px;
  }
  .mojaocena {
    font-size: 15px;
  }






  .footerContainer {
	width: 100%;
	padding: 10px 15px 10px;

}
.socialIcons {
	display: flex;
	justify-content: center;
}

.socialIcons a {
	text-decoration: none;
	padding: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 50%;
}
.socialIcons a i {
	font-size: 33px;
	color: #000000;
	opacity: 0.9;
}

/* hover  */
.socialIcons a:hover{
	background-color: #111;
	transition: 0.3s;
}

.socialIcons a:hover i {
	color: #fff;
	transition: 0.3s;
}

.footerNav {
	margin: 5px 0;
}
.footerNav ul {
	display: flex;
	justify-content: center;
	list-style: none;
}
.footerNav ul li a {
	color: #fff;
	margin: 5px;
	text-decoration: none;
	font-size: 10px;
	opacity: 0.7;
	transition: 0.3s;
}
.footerNav ul li a:hover {
	opacity: 1;
}

.footerBottom {
	background-color: #000000;
	padding: 10px;
	text-align: center;
}
.footerBottom p {
	color: #fff;
    font-size: 7px;
}

.designer {
	
	letter-spacing: 1px;
	font-weight: 400;
}
}






/* 22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222 */
@media (max-width:600px){
    .nav{
        position: fixed;
        top: 90px;
        left: 0;
        background-color: rgb(46, 52, 59);
        width: 100%;
        padding: 10px 0 25px;
        transform: translate(-100%);
    }
.nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.nav__link {
    font-size: 18px;
}

.hamburger {
    display: block;
}

.logo {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
}
.izgled-stranice {
    margin: 30px 10px;
    text-align: center;
    background-color: #F4F3EA;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 5px #a1a7b0;
    letter-spacing: -1px;

  
  }
  
  .izgled-stranice img {
    float: left;
    margin: 5px;
    margin-left: 20px;
    width: 150px;
  
  }
  
  .izgled-stranice p {
    text-align: justify;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .naslov h1{
    font-size: 20px;
  /*  color: white;*/
    color: #000000;
  
  }
  .mojaocena {
    font-size: 13px;
  }


}






/* 3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333 */

@media (max-width:400px){
    .nav{
        position: fixed;
        top: 90px;
        left: 0;
        background-color: rgb(46, 52, 59);
        width: 100%;
        padding: 10px 0 25px;
        transform: translate(-100%);
    }
.nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.nav__link {
    font-size: 16px;
}

.hamburger {
    display: block;
}

.logo {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
}
.naslov img {
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 7px;
    margin-top: 15px;
}
.izgled-stranice {
    margin: 30px 10px;
    text-align: center;
    background-color: #F4F3EA;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 5px #a1a7b0;
    letter-spacing: -1px;
  }
  
  .izgled-stranice img {
    float: left;
    margin: 5px;
    margin-left: 20px;
    width: 130px;
  
  }
  
  .izgled-stranice p {
    text-align: justify;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .naslov h1{
    font-size: 22px;
  /*  color: white;*/
    color: #000000;
  
  }



}